Source: nginx
Section: httpd
Priority: optional
Maintainer: Sergey Budnevitch <sb@nginx.com>
Build-Depends: debhelper (>= 7.0.50~), libssl-dev (>= 0.9.7), libpcre3-dev, zlib1g-dev
Standards-Version: 3.9.1
Homepage: http://nginx.org

Package: nginx
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lsb-base, adduser
Provides: httpd
Description: high performance web server
 nginx [engine x] is an HTTP and reverse proxy server, as well as
 a mail proxy server.

Package: nginx-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, nginx (= ${binary:Version})
Description: nginx debug symbols
 This package contains the debugging symbols for nginx.

Package: nginx-module-xslt
Architecture: any
Priority: extra
Depends: ${misc:Depends}, ${shlibs:Depends}, nginx (= ${binary:Version})
Description: xslt module
 This package contains dynamic xslt module for nginx.

Package: nginx-module-image-filter
Architecture: any
Priority: extra
Depends: ${misc:Depends}, ${shlibs:Depends}, nginx (= ${binary:Version})
Description: image filter module
 This package contains dynamic image filter module for nginx.

Package: nginx-module-geoip
Architecture: any
Priority: extra
Depends: ${misc:Depends}, ${shlibs:Depends}, nginx (= ${binary:Version})
Description: geoip module
 This package contains dynamic geoip module for nginx.
